@import "tailwindcss";


/* Infinite slider animation */
.slider-track {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50%)); }
}

.h_3{
  @apply font-bold mb-3 text-xl
}

.h_2{
  @apply font-bold mb-3 text-2xl md:text-3xl
}

/* Admin panel styles */
.chart_bg {
  @apply bg-white p-6 rounded-xl shadow;
}

.anasearch {
  @apply ml-auto w-full bg-gray-200 rounded-md outline-none;
}

.anasearch::placeholder {
  @apply text-gray-900;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn { animation: fadeIn 1s ease-in-out; }
.animate-slideUp { animation: slideUp 0.5s ease-out; }

.feature_card{
  @apply md:p-6 p-10 rounded-xl shadow text-center md:text-start
}

.card{
  @apply flex flex-col items-center md:items-start text-center md:text-start
}